.container{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-self: center;
}

.container>a{
    text-decoration: none;
    border: 2px rgb(32, 224, 41);
    padding: 10px 20px;
    color: rgb(179, 11, 39);
    /*Transition*/
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease-in;
}

.container>a:hover{
    background-color: chartreuse;
    color: rgb(75, 13, 146);
}