:root{
    --main-color:red;
    --primary-color:pink;

}

button{
    padding: 10px 30px;
    background: var(--main-color);
    border: none;
    cursor: pointer;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
 
body{
    background: blue;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-family: sans-serif;
    padding-top: 15px;
}

li{
    display: inline;
    list-style: none;
}

li a{
    color: aqua;
    text-decoration: none;
    margin-left: 40px;
    padding-bottom: 10px;
}

li a:hover{
    border-bottom: 2px solid var(--primary-color);
}

.header{
    background: url(Images/pexels-anthony-📷📹🙂-158834.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: sans-serif;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: blueviolet;
    position: relative;
}