/* COLOR NAMES */
h1 {
  color: blue;
}

/* RGB */
h2 {
  color: rgb(80, 40, 55);
}

/* RGBA */
h3 {
  color: rgba(14, 219, 75, 0.233);
}

/* HEX */

h4 {
  color: #00c4ff;
}

/* COLORS RESOURCES */
/* https://galactic.ink/sphere/ */
/* https://color.adobe.com/create/color-wheel */
/* Color Picker for Chrome Extensions*/
